.row-header{

	margin: 0px auto;
	padding: 0px auto;
}

.row-content{
	margin: 0px auto;
	padding: 40px 0px 40px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}

.footer{
	background-color: #D1C4E9;
	margin: 0px auto;
	padding:20px 0px 20px 0px;
}

.jumbotron{
	padding: 70px 30px 70px 30px;
	margin: 0px auto;
	background: #9575CD;
	color: floralwhite;
}

address {
	font-size: 80%;
	margin:0px;
 	color: #0f0f0f;
}

/*.block{
	margin: 50px
}*/

body{
	padding: 30px 0px 0px 0px;
	z-index: 0 auto;
}

.navbar-dark {
background-color: #512DA8;
}

/*navbar-toggle-icon{
	background-color: #512DA8;
}*/